$enable-gradients: true;
$enable-shadows: true;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

.App {
  background-image: url(https://picsum.photos/1600/800/?blur=2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include media-breakpoint-up(sm) {
    height: 100vh;
    min-height: 100vh;
  }

  @media (orientation: portrait) {
    background-size: auto 150%;
  }

  @media (orientation: landscape) {
    background-size: 150% auto;
  }
}
